
body {
    margin: 0;
}
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
main {
    padding: 20px
}
html,
body
{
     height: 100%;
}

#container {
    height: 100%;
}
